/* -- mini cart -- */
li.mini-cart .nav-dropdown{right:15px;width: 330px;}
.cart-icon{display: inline-block;position: relative;}
.cart-icon strong{@include single-transition(); color:$primary-color; border:2px solid $primary-color;position: relative;padding: 4px 9px;margin-left: 15px;background: #FFF;z-index: 10}
.cart-icon .cart-icon-handle{border:2px solid $primary-color;right:8px;top:-10px;height:15px;width: 15px;position: absolute; @include radius(10px);@include single-transition();}
li.mini-cart:hover .cart-icon .cart-icon-handle{top:-12px;}
li.mini-cart .nav-dropdown{padding-right: 30px!important}
li.mini-cart .nav-dropdown button{margin-bottom: 5px}
strong.cart-name, span.cart-price{color: #000;opacity: 0.6;@include single-transition();}
.active strong.cart-name,.active span.cart-price{color: #000;opacity: 1}
a.cart_list_product_img{display: block;height: 70px;overflow: hidden;padding: 0!important;margin-bottom: 5px}
li.mini-cart.active .cart-icon strong{background-color: $primary-color;color: #FFF;}
.mini-cart.hover_active .nav-dropdown{display: block!important}

/* -- mini cart dropdown -- */
li.mini-cart .cart_list{max-height: 450px;overflow-y: auto; -webkit-overflow-scrolling: touch;}
.mini-cart-item{padding-bottom: 5px; border-bottom: 1px solid $border;margin-bottom: 10px!important;line-height: 100%}
.mini-cart-item a:hover{text-decoration: none}
.cart-inner p.empty{margin:0; white-space: normal;}
.cart-inner .spinner{position: relative;}

/* -- custom cart icon -- */
.custom-cart-inner{display:block;width:42px;padding-left:32px;position:relative;}
.custom-cart-icon{position:absolute;right:0;bottom:-10px;max-width:32px}
.custom-cart-count{position:absolute;font-size:70%;display:block;text-align:center;height:20px;width:20px;right:0;z-index:3;bottom:5px;right:-10px;color:#FFF;background-color:$secondary-color;padding-top:4px;font-weight:bold;@include radius(33px);}
.mini-cart:hover .custom-cart-count{background: #000}

/* -- delete icon -- */
.remove .icon-close{border: 2px solid $border;display:block;height:25px;width:25px; text-align: center; color:$border;padding-top: 5px;@include radius(99px);line-height:10px;font-size: 10px;margin-top:25%;display: inline-block;}
.remove .icon-close:hover{border-color:#000;color: #000;}

/* -- text -- */
.mini-cart-item a.cart_list_product_title {display: block;font-size:75%;margin: 0;padding: 0 20px 0 0; white-space: pre-wrap;}
.mini-cart-item .cart_list_product_quantity,.mini-cart-item .cart_list_product_price{font-size: 75%;display: inline-block;text-transform: uppercase;}

.mini-cart-item .cart_list_product_price{font-weight: bold}
.mini-cart-item .cart_list_product_quantity{margin-left: 5px}

.minicart_total_checkout{color:#000;text-align: center;padding: 0 0 7px;margin-bottom: 10px;text-transform: uppercase;}
.minicart_total_checkout span.amount{font-weight: bold;display: inline-block;margin-left: 5px}

.mini-cart .nav-dropdown a.button{color: #FFF!important;padding: 13px 0;margin-bottom: 10px;display: block;}

/* -- Cart tables -- */
table tr{border-bottom: 1px dotted $border;}

.shop_table .product-thumbnail img{width: 90px;padding: 0 30px 0 10px}
.shop_table thead th{padding-top: 4px;padding-bottom: 12px;}
.shop_table dl.variation{margin: 0;font-size: 80%;opacity: 0.6}
.shop_table dl.variation dt,.shop_table dl.variation dd{display: inline-block;margin:0;}
.shop_table dl.variation dt{margin-right: 5px}
.shop_table dl.variation dd{margin-right: 10px}
.shop_table .product-price{padding-right: 20px}
.shop_table .product-subtotal{font-weight: bold}
.shop_table.cart td.product-name{padding: 0 30px;font-size: 100%;width: 35%}
.shop_table td.product-quantity .quantity{margin-top: 10px;}
.shop_table.order_details .product-total,.shop_table .product-total{text-align: right}
.shop_table .total{color: #222}
.shop_table .shipping td{font-weight: normal;}
.shop_table.my_account_orders .order-total{border:0;}



.cart_totals .order-total, .shop_table .order-total{vertical-align:center;border-bottom: 3px solid $border; border-top: 1px solid $border}
.cart_totals td{text-align: right;}
.cart_totals h2{border-bottom: 3px solid #dddddd;padding-bottom: 10px;text-transform: uppercase;font-size: 95%;}
.shop_table .cart-subtotal{border-top: 1px solid #ddd;}
.checkout_table_item{border-bottom: 1px dotted $border;}
.checkout_table_item .product-total{text-align: right;font-weight: bold;}


.shop_table tfoot th{text-transform: uppercase;font-size: 80%}
.shop_table tfoot td{text-align: right; font-weight: bold}
.shop_table tfoot tr.cart-subtotal{margin-top: 15px}

.shop_table th.product-total{text-align: right}

ul#shipping_method{margin-bottom: 0}
ul#shipping_method li{list-style: none;}
ul#shipping_method li input, ul#shipping_method li label{display: inline-block;}
ul#shipping_method li input{margin: 0 5px 0 0}


/* -- shopping cart page -- */
.shop_table{margin-top: 4px;}
.shop_table thead{border-bottom: 3px solid $border;text-transform: uppercase;color: #333;}
.shop_table .product-subtotal{text-align: right;}

.items_found_cart{margin-bottom: 15px;display: block}

.cart_table_item{position: relative;}
.cart_table_item{border-bottom: 1px solid $border;height: 100px}
.cart_table_item .product-thumbnail{position: relative;}
.cart_table_item .product-thumbnail{width: 140px}

.cart-wrapper{padding-right: 30px;border-right:1px solid $border;}
.cart-sidebar .button{margin-bottom: 10px}
.cart-sidebar .widget-title{border-bottom:3px solid $border;padding-bottom: 10px}
.checkout-button{margin-bottom: 30px!important;}

.shipping-calculator-form select{margin-bottom: 0px}

a.shipping-calculator-button{text-transform:uppercase;font-size: 70%;margin-top:15px;padding-top: 5px;border-top: 1px solid $border;display: block;width: 100%}
a.shipping-calculator-button:before{font-family: 'icomoon'; content: "\e00c"!important;margin-right: 5px;font-size: 10px; position: relative;top:-2px}
/* -- cross sells -- */
.cross-sells h2{font-size:100%;text-transform: uppercase;margin-top: 30px;margin-bottom: 15px; padding-top: 15px; border-top: 3px solid $border}
.cross-sells ul{margin-left: 0}
.cross-sells .row > .columns{padding: 0!important}

.woocommerce-cart .cart-empty,.woocommerce-cart .return-to-shop{text-align: center;}
