// Make sure the charset is set appropriately
@charset "UTF-8";

/*** CONTENT ***/
/*****************************************************************/
/*
/*** 00. Reset (Normalize)
/*** 01. Global 
/*** 02. Header
/*** 03. Pages / Blog / Portfolio
/*** 04. Shop Categories
/*** 05. Product page
/*** 06. Cart
/*** 07. Checkout
/*** 08. Sliders
/*** 09. Banners
/*** 10. Lightbox
/*** 11. Shortcodes
/*** 12. Widgets
/*** 13. Dark styles (Styles for dark backgrounds)
/*** 14. Div Fixes
/*** 15. Mobile styles
/*** 16. Foundation Components (Grid, Buttons,Type,Forms,Alert boxes,pagination) */
/*
/*****************************************************************/
/*
/*
/*/

// Include theme settings (overides settings in foundation settings)
@import "settings";
@import "reset";


/**********************************************************************/
/**********------------------- 01. GLOBAL ----------------*************/
/**********************************************************************/
@import "components/global";
@import "theme_global";

/**********************************************************************/
/****************------------- 02. HEADER  -------------***************/
/**********************************************************************/
@import "theme_header";

/**********************************************************************/
/*******************------------- 03. FOOTER -------------*************/
/**********************************************************************/
@import "theme_footer";

/**********************************************************************/
/**************------------- 03. PAGES / BLOG -------------************/
/**********************************************************************/
@import "theme_pages_blog";

/**********************************************************************/
/************------------- 04. SHOP CATEGORIES -------------***********/
/**********************************************************************/
@import "theme_category";

/**********************************************************************/
/**************------------- 05. PRODUCT PAGE -------------************/
/**********************************************************************/
@import "theme_product";

/**********************************************************************/
/******************------------- 06. CART -------------****************/
/**********************************************************************/
@import "theme_cart";

/**********************************************************************/
/****************------------- 07. CHECKOUT -------------**************/
/**********************************************************************/
@import "theme_checkout";

/**********************************************************************/
/*****************------------- 08. SLIDERS -------------**************/
/**********************************************************************/
@import "theme_sliders";

/**********************************************************************/
/**************------------- 09. BANNER SYSTEM -------------***********/
/**********************************************************************/
@import "theme_banners";

/**********************************************************************/
/*************------------- 10. LIGHTBOX -------------*****************/
/**********************************************************************/
@import "theme_lightbox";

/**********************************************************************/
/*************------------- 11. SHORTCODES -------------***************/
/**********************************************************************/
@import "theme_shortcodes";

/**********************************************************************/
/***************------------- 12. WIDGETS -------------****************/
/**********************************************************************/
@import "theme_widgets";

/**********************************************************************/
/************------------- 13. DARK BG TYPE -------------**************/
/**********************************************************************/
@import "theme_dark";

/**********************************************************************/
/***************------------- 14. FIXES -------------******************/
/**********************************************************************/
@import "theme_fixes";

/**********************************************************************/
/***************------------- 15. MOBILE -------------*****************/
/**********************************************************************/
@import "theme_mobile";

/**********************************************************************/
/******------------- 16. FOUNDATION COMPONENTS (Grid, buttons, etc) -------------********/
/**********************************************************************/
@import
  "components/grid",
  "components/visibility",
  "components/block-grid",
  "components/type",
  "components/buttons",
  "components/forms",
  "components/alert-boxes",
  "components/pagination",
  "components/tables";
